body{
    background-image: url('images/photobook\ img1.jpg');
    background-size: 2000px;
}
li{
    min-width: 430px;
    max-width: 450px;
}
li img{
    margin-bottom: 10px;
    width: 370px;
    height: 420px;
}

figure{
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 25px;
    padding: 1vw 1vw 1vw 0vw;
}
.sidestyle{
    background-color: steelblue;
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}
section h5{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}
